.root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px 0 44px 0;
  //border: 1px solid red;
  //border-right: 1px solid #DBDBDB;
  //border-bottom: 1px solid #DBDBDB;
}
