.root {
  padding: 24px 20px 24px 30px;
  background: #f5f5f5;
  border-radius: 15px;
  position: relative;
  max-width: 750px;

  .todo-header {
    display: flex;
    position: relative;
    margin-bottom: 40px;

    .circle {
      position: relative;
      top: 5px;
      right: 9px;
    }

    .todo-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;

      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
      }
    }

    .count {
      margin-left: 13px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgb(219 219 219 / 100%);
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      color: #625f6d;
      text-align: center;
    }

    .add-task-icon {
      position: absolute;
      right: 0;
      top: -3px;
      cursor: pointer;
      width: 25px;
      height: 25px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .todo-main {
    min-height: 160px;
  }

  .delimiter {
    width: 100%;
    position: absolute;
    top: 35px;
    left: -8px;
  }
}
