.input {
  width: 400px;
  max-width: 417px;
  height: 44px;
  border: 0;
  padding: 11px 26px 11px 26px;
  border-radius: 5px;
  background: #F5F5F5;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  caret-color: #5030E5;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.area {
  width: 400px !important;
  height: 100px !important;
  resize: none;
}
