.root {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: grab;

  .taskHeader {
    display: flex;
    position: relative;
    margin-bottom: 9px;

    .priority {
      border-radius: 5px;
      padding: 5px;

      span {
        font-weight: 500;
        font-size: 12px;
      }
    }
    .low {
      background: rgba(223, 168, 116, 20%);

      span {
        color: #D58D49;
      }
    }
    .high {
      background: rgba(216, 114, 125, 10%);

      span {
        color: #D8727D;
      }
    }
    .completed {
      background: rgba(131, 194, 157, 20%);

      span {
        color: #68B266;
      }
    }

    .dots {
      position: absolute;
      top: -7px;
      right: 7px;
    }
  }

  .taskMain {
    h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    .date {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: rgba(0, 0, 0, 70%);
      margin-bottom: 5px;
    }

    .desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #787486;
    }
  }

  .taskFooter {
    .ownerAvatar {
      position: relative;
      top: 10px;
      border: 1px solid white;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }
}

.dragging {
  opacity: 0.5;
}
