.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .projectTitle {
    grid-column: 1;
    grid-row: 1;
  }

  .projectMembers {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: center;
  }
}

