.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 10px;
  grid-column-gap: 17px;

  svg {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-self: center;

    &:hover {
      transform: scale(1.1);
    }
  }
}
