.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7px;

  input {
    margin-bottom: 10px;
  }

  .submit {
    margin-top: 25px;
    border-radius: 5px;
    width: 100px;
    height: 37px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background: rgb(50 48 229 / 20%);
  }

  .error-msg {
    position: relative;
    top: -6px;
    color: red;
    font-size: 12px;
  }
}
