@import "../../../commonStyles/variables";

.projectItem {
  position: relative;
  left: -13px;
  display: flex;
  padding: 13px 15px 13px 37px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;

  .indicator {
    position: relative;
    top: 5px;
    left: -23px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $green;
  }

  .name {
    width: 135px;
    color: $secondary;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .dots {
    position: absolute;
    top: 9px;
    right: 15px;
    color: $secondary;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.07em;
  }
}

.activeProject {
  background: rgba(80, 48, 229, 8%);

  .name {
    color: $primary;
    font-weight: 600;
  }

  .dots {
    color: $primary;
  }
}
