.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: 1fr;
  //border: 2px solid green;

  .userInfo {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
