@use '../../common-styles/colors' as *;

.root {
  margin-top: 35px;

  .myProjectsHeader {
    display: flex;
    justify-content: space-between;

    h4 {
      color: $secondary;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
    }

    .loader {
      height: 16px;
      margin-left: 55px;
    }

    svg {
      margin-right: 27px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);

        :nth-child(1),
        :nth-child(2) {
          stroke: #5030e5;
        }
      }
    }
  }

  .projectsContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    .projectBtn {
      width: 225px;
      height: 45px;
    }

    .projectBtn + .projectBtn {
      margin-top: 10px;
    }
  }
}
