.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .priority {
    color: black;
    font-size: 14px;

    label {
      margin-left: 10px;
      text-align: center;
    }
  }

  input {
    margin-bottom: 10px;
  }

  .submit {
    margin-top: 25px;
    border-radius: 5px;
    width: 100px;
    height: 37px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background: rgba(50,48,229,20%);
  }

  .errorMsg {
    position: absolute;
    color: red;
    font-size: 12px;
  }
}

.errorClose {
  button {
    svg {
      fill: red;
    }
  }
}

