.root {
  position: relative;
  width: fit-content;

  .findIcon {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .clearIcon {
    cursor: pointer;
    position: absolute;
    width: 20px;
    top: 10px;
    height: 20px;
    right: 10px;
    opacity: 50%;

    &:hover {
      fill: red;
    }
  }

  input {
    padding: 11px 36px 11px 56px;
  }
}
