.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar-image {
    align-self: center;
    width: 41px;
    height: 41px;
    border: 1px solid white;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar-name {
    width: 50px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
