.root {
  .avatar {
    width: 39px;
    height: 39px;
    border: 1px solid white;
    border-radius: 50%;
  }

  .name {
    width: 45px;
    position: relative;
    top: -6px;
    text-align: center;
    font-size: 13px;
    overflow:hidden;
    white-space: nowrap;
  }
}
