.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar {
    align-self: center;
    width: 41px;
    height: 41px;
    border: 1px solid white;
    border-radius: 50%;
  }

  .name {
    width: 45px;
    position: relative;
    top: -3px;
    text-align: center;
    font-size: 13px;
    overflow:hidden;
    white-space: nowrap;
  }
}
