@use "commonStyles/colors" as v;
@use "commonStyles/libs/_normalize.scss";

html {
  height: 100vh;
}

body {
  background-color: v.$background;
  height: 100vh;
}

.wrapper {
  width: calc(100vw - 50px);
  height: 100vh;
  margin: 0 auto;
}

.delimiters {
  z-index: -100;
  position: absolute;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  height: 88px;
}
