@use "commonStyles/colors" as v;
@use "commonStyles/libs/_normalize.scss";

body {
  background-color: v.$background;
  //overflow: hidden;
}

.wrapper {
  width: calc(100vw - 50px);
  height: 100%;
  margin: 0 auto;
}

.delimiters {
  z-index: -100;
  position: absolute;
  border-bottom: 1px solid #DBDBDB;
  width: 100%;
  height: 88px;

  //&::after {
  //  z-index: -100;
  //  content: '';
  //  display: block;
  //  position: absolute;
  //  top: 0;
  //  border-right: 1px solid #DBDBDB;
  //  width: 250px;
  //  height: 100vh;
  //}
}
