@mixin avatar-name {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .horizontal-direction {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .avatar-name {
      @include avatar-name;

      width: 150px;
      text-align: start;
      margin-right: 5px;
    }
  }

  .vertical-direction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .avatar-name {
      @include avatar-name;

      width: 50px;
      text-align: center;
    }
  }
}
