.root {
  display: flex;

  h1 {
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    text-transform: capitalize;
  }

  .iconsContainer {
    display: flex;
    cursor: pointer;
    margin: 15px 0 0 22px;

    .shareIcon {
      margin-left: 15px;
    }
  }
}
