.root {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 88px 1fr;
  row-gap: 1px;
  column-gap: 1px;

  .header {
    grid-column: 2;
    grid-row: 1;
  }

  .navbar {
    transition: all 0.5s ease;
    width: 225px;
    grid-column: 1;
    grid-row: 1 / 2;
    border-right: 1px solid #DBDBDB;
    height: 100vh;
  }

  .navbarNotVisible {
    margin-left: -260px;
  }

  .content {
    grid-column: 2;
    grid-row: 2;
  }
}
