.root {
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 88px 1fr;
  row-gap: 1px;
  column-gap: 1px;

  .header {
    grid-column: 2;
    grid-row: 1;
  }

  .navbar {
    grid-column: 1;
    grid-row: 1 / 2;
    border-right: 1px solid #DBDBDB;
    height: 100vh;
  }

  .navbarNotVisible {
    position: fixed;
    left: -225px;
  }

  .content {
    grid-column: 2;
    grid-row: 2;
  }
}

.fullWidth {
  grid-template-columns: 1fr;

  .header {
    grid-column: 1;
    grid-row: 1;
  }

  .content {
    grid-column: 1;
    grid-row: 2;
  }
}
